<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <section class="min-vh-100 d-flex justify-content-center align-items-center">
        <div class="w-auto mx-auto d-flex flex-row ">
           <a href="/api/items"id="1stpage">Rerestails Inventory Item</a>
           <a class="ml-4" href="/api/viewinventory">Inventory Items</a>
        </div>
    </section>

 
</body>

</html>